.hero {
  padding-top: 160px;
  min-height: 800px;
  background-color: var(--dark-color);
  // background-image: url('../img/hero-bg.png');
  // background-position: right 213px top 83px;
  // background-repeat: no-repeat;
  // background-size: 583px 717px;

  &__container {
    @include flex-v-center;
  }

  &__content {
    max-width: 530px;

    @include high-tablet {
      max-width: none;
    }
  }

  &__image {
    transform: translateX(167px);

    @include high-tablet {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    color: var(--light-color);
    text-transform: uppercase;

    &-text {
      display: block;
      max-width: 90%;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      text-transform: initial;
    }
  }

  @include high-tablet {
    min-height: auto;
    padding-bottom: 100px;
  }
}
