.order {
  @include image-set('../img/order-bg');

  padding: 87px 0;
  background-color: var(--accent-color);
  background-position: center bottom;
  background-size: cover;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__left {
    grid-column: span 5;
    padding-left: 60px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: span 7;
    padding-right: 60px;
  }

  &__form {
    max-width: 500px;
  }
}
